@charset "utf-8";
/* CSS Document */

nav.secondary-nav ul.navigation {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
	 z-index: 100;
}

nav.secondary-nav ul.navigation li { 
	display: block; 
	position: relative; 
	float: left; 
	padding-left: 0px;
	z-index: 100;
}

nav.secondary-nav ul.navigation ul { display: none; z-index: 100; }

nav.secondary-nav ul.navigation li a {
    display: block;
    text-decoration: none;
    color: #f8f1e5;
    border-top: 1px solid #f8f1e5;
    padding: 5px 15px 5px 15px;
    background: #ce6c3e;
    margin-left: 1px;
    white-space: nowrap;
	 z-index: 100;
}
nav.secondary-nav li a:hover { background: #ce6c3e; z-index: 100; }
nav.secondary-nav li:hover ul { display: block; position: absolute; z-index: 100; }
nav.secondary-nav li.submenu ul { display: none; z-index: 100; }
nav.secondary-nav li.submenu a {width: 73px; z-index: 100; }
nav.secondary-nav li.submenu li a {width: auto; z-index: 100; }
nav.secondary-nav li.submenu:hover ul { display: block; position: absolute; top: 0px; }
nav.secondary-nav li.submenu ul li { position: relative; left: 105px; }
nav.secondary-nav li.submenu ul li a { display: block; }
nav.secondary-nav li:hover li { float: none; font-size: 11px; }
nav.secondary-nav li:hover a { background: #ce6c3e; }